.dan-modal{
    background-color: rgb(167, 28, 28);
    color: whitesmoke;
}

.info-modal{
    background-color: rgb(110, 200, 241);
}

.show-row{
    display:block;
}

.hide-row{
    display:none;
}

.subform-card{
    background-color: rgb(68, 65, 65);
    color:white;
    font-weight: bold;
}

.float-btn .left-row{
    float:right;
    text-align: right;
}

@media screen and (max-width: 980px) {
    .tabla-escritorio {
    display: none;
    }
}

@media screen and (min-width: 980px) {
    .tabla-movil {
    display: none;
    }
}

.progress-text{
    text-align: right;
}

.text-info{
    text-align: center;
    color:white;
    text-decoration: none;
}

.number-home{
    font-size: 50px;
    text-align: center;
}